/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li {
  width: 144px;
  height: 74px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.pika-stage {
  height: 250px; }

a {
  color: white; }

.pikachoose {
  width: 506px;
  margin: 0 auto; }

.pika-stage {
  position: relative;
  border: 3px solid #010101;
  -moz-box-shadow: 5px 5px 2px #888;
  -webkit-box-shadow: 5px 5px 2px #888;
  box-shadow: 5px 5px 2px #888;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/*if you change the padding on pika-stage you must adjust the top left of this to match! */
.pika-stage .main-image {
  position: absolute;
  top: 0px;
  left: 0px; }

.pika-stage .pika-aniwrap {
  position: absolute;
  top: 0px;
  left: 0px; }

.pika-stage .pika-ani {
  position: relative;
  display: none;
  z-index: 2;
  margin: 0 auto; }

.pika-stage img {
  border: 0;
  height: 100%; }

.pika-stage .caption {
  position: absolute;
  background: url(75-black.png);
  font-size: 14px;
  background-color: #2BA9D1;
  padding: 10px;
  text-align: right;
  bottom: 10px;
  right: 10px;
  color: white; }

.pika-stage .caption p {
  padding: 0;
  margin: 0;
  line-height: 14px; }

.pika-imgnav a {
  position: absolute;
  text-indent: -5000px;
  display: block;
  z-index: 3;
  cursor: pointer; }

.pika-imgnav a.previous {
  width: 20px;
  height: 20px;
  border-left: 5px solid #FFF;
  border-top: 5px solid #FFF;
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
  left: 10px; }

.pika-imgnav a.next {
  width: 20px;
  height: 20px;
  border-right: 5px solid #FFF;
  border-top: 5px solid #FFF;
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 45%;
  right: 10px; }

.pika-imgnav a:hover {
  opacity: .6;
  -webkit-transition: opacity 300ms linear; }

.pika-imgnav a.play {
  border-color: transparent transparent rgba(255, 255, 255, 0.7);
  border-style: solid;
  border-width: 0 0 25px 25px;
  height: 0;
  width: 0;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 14px;
  left: 47%;
  display: none; }

.pika-imgnav a.pause {
  display: none;
  border-left: 5px solid rgba(255, 255, 255, 0.7);
  border-right: 5px solid rgba(255, 255, 255, 0.8);
  height: 30px;
  width: 14px;
  position: absolute;
  top: 10px;
  left: 47%; }

.pika-textnav {
  display: none; }

.pika-thumbs {
  margin: 10px 0 0 17px;
  padding: 0; }

.pika-thumbs li {
  float: left;
  list-style-type: none;
  margin: 0 5px;
  border: 1px solid #000;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 2px #888;
  -webkit-box-shadow: 3px 3px 2px #888;
  box-shadow: 3px 3px 2px #888; }

.pika-thumbs li:last {
  margin: 0; }

.pika-thumbs li .clip {
  position: relative;
  height: 100%;
  text-align: center;
  vertical-align: center;
  overflow: hidden; }

/*for the tool tips*/
.pika-tooltip {
  font-size: 12px;
  position: absolute;
  color: white;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid black; }

.pika-counter {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  padding: 3px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal {
  padding: 15px 20px;
  overflow: hidden; }

.jcarousel-skin-pika .jcarousel-clip-horizontal {
  height: 90px;
  width: 485px; }

.jcarousel-skin-pika .jcarousel-item-horizontal {
  margin-right: 10px; }
@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";
/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * View the Sass/SCSS source at:
 * http://www.cssflow.com/snippets/login-form/demo/scss
 *
 * Original PSD by Orman Clark: http://goo.gl/D8zmk
 */
.login {
  position: relative;
  margin: 50px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 50px #0ca3d2, 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0 50px #0ca3d2, 0 1px 2px rgba(0, 0, 0, 0.3) !important; }

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke; }

.login p {
  margin: 20px 0 0; }

.login p:first-child {
  margin-top: 0; }

.login input[type=email], .login input[type=password] {
  width: 278px; }

.login p.remember_me {
  float: left;
  line-height: 31px; }

.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer; }

.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle; }

.login p.submit {
  text-align: right; }

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1; }

.login-help a {
  color: #cce7fa;
  text-decoration: none; }

.login-help a:hover {
  text-decoration: underline; }

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px; }

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px; }

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px; }

input[type=email], input[type=password], input[type=text] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12); }

textarea {
  margin: 5px;
  padding: 0 10px;
  width: 400px;
  height: 250px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12); }

input[type=email]:focus, input[type=password]:focus, textarea:focus, input[type=text]:focus {
  border-color: #7dc9e2 !important;
  outline-color: #dceefc !important;
  outline-offset: 0; }

input[type=submit] {
  cursor: pointer;
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15); }

input[type=submit]:hover {
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  color: #00ccff; }

input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2); }

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px; }
/***************************************************
	      think simple by marija zaric and distributed by http://freehtml5templates.com
***************************************************


***************************************************
			      Reset
***************************************************/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  color: #000000; }

ol, ul {
  list-style: none; }

a img {
  border: none; }

aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/***************************************************
			      Global styles
***************************************************/
html, body {
  width: 100%;
  height: 100%; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
  margin: 0 0 1px;
  line-height: 1.5;
  background-color: white;
  background-image: url(/assets/bg.png);
  background-position: left top;
  background-repeat: repeat; }

p {
  margin-bottom: 7px; }

a, p a {
  text-decoration: underline;
  color: white; }

a:hover {
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative; }

h1 {
  font-size: 60px;
  line-height: 1.6;
  color: #663366;
  text-transform: capitalize;
  text-align: left;
  margin-left: 40px; }

h1 span {
  line-height: 1.7px;
  color: black;
  font-size: 14px;
  text-transform: none;
  display: block; }

h2 {
  font-size: 17px;
  line-height: 1.7;
  color: black;
  text-align: left;
  width: 420px;
  padding-top: 8px;
  margin-left: 40px; }

h3 {
  font-size: 28px;
  line-height: 1.6;
  color: #00CCFF;
  text-transform: capitalize;
  text-align: left;
  background-color: transparent;
  padding-top: 12px;
  margin-bottom: 9px; }

h3 span {
  font-size: 12px;
  color: black;
  text-transform: capitalize;
  height: 24px;
  margin-top: 15px;
  text-align: left;
  display: block; }

h4 {
  font-size: 18px;
  line-height: 1.7;
  color: black;
  text-align: left;
  width: 350px;
  padding-top: 8px;
  margin-bottom: 12px; }

h4 span {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFCC33;
  padding: 8px;
  margin-left: 20px;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em; }

/***************************************************
			    Main containers
***************************************************/
#container, #container_left, #container_right {
  position: relative;
  width: 100%; }

#container {
  position: relative;
  width: 980px;
  margin: 0 auto;
  text-align: left;
  background-color: transparent;
  padding: 15px; }

.group {
  float: left;
  width: 290px;
  position: relative;
  background: transparent;
  padding: 15px;
  margin-bottom: 10px; }

.group_bannner_left {
  width: 420px;
  position: absolute;
  top: 60px;
  background: transparent;
  margin-top: 6px;
  margin-left: -40px; }

.group_bannner_right {
  width: 380px;
  position: absolute;
  top: -37px;
  right: 170px;
  background: transparent;
  margin-top: 50px; }

header {
  position: relative;
  float: left;
  width: 100%;
  height: 100px; }

/***************************************************
				INTRO
***************************************************/
#intro {
  width: 960px;
  position: relative;
  float: left;
  height: 318px;
  padding: 10px;
  background: transparent;
  margin-top: 17px; }

/***************************************************
				   HOLDERS
***************************************************/
.holder_content {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 15px;
  background: transparent;
  background: url(/assets/line.png) 0 -18px no-repeat;
  margin-bottom: 40px; }

/***************************************************
			        FOOTER
***************************************************/
footer {
  position: relative;
  height: 90px;
  clear: both;
  width: 100%;
  margin-bottom: 18px;
  background-color: #00ccff; }

#FooterOne, #FooterTwo, #FooterTree {
  position: absolute; }

#FooterTwo {
  position: absolute;
  right: 225px;
  top: 26px;
  color: white; }

#FooterTree {
  position: absolute;
  left: 225px;
  top: 26px;
  color: white; }

.container {
  width: 980px;
  margin: 0 auto;
  background-color: transparent; }

/***************************************************
				       MENU
***************************************************/
nav {
  position: absolute;
  width: 620px;
  top: 43px;
  right: -12px;
  background: transparent; }

nav ul li {
  float: left;
  line-height: normal; }

nav ul li a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-transform: capitalize;
  font-weight: normal;
  display: block;
  /* IE6, IE7 line height fix */
  padding: 15px;
  background-color: transparent;
  margin-top: 0px;
  margin-right: 6px;
  text-decoration: none; }

nav ul li a:hover {
  color: gray; }

nav ul li a.current {
  background-color: #00CCFF;
  padding: 15px;
  color: white;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.content_menu {
  float: left;
  width: 274px;
  margin-top: -10px;
  margin-bottom: 15px; }

.content_menu ul {
  margin: 0px;
  padding: 0px;
  float: none; }

.content_menu ul li {
  float: none;
  padding-bottom: 16px; }

.content_menu ul li a {
  font-size: 14px;
  line-height: normal;
  color: #33CC99;
  text-align: left;
  text-decoration: none;
  padding-left: 20px; }

.content_menu ul li a:hover {
  color: #33CC99; }

/***************************************************
				   SPECIFIC
***************************************************/
#logo {
  position: relative;
  float: left;
  top: 8px;
  left: 0px;
  width: 250px;
  height: 160px; }

.clearing {
  clear: both;
  display: inline;
  width: 100%;
  height: 0;
  overflow: hidden; }

.purple {
  font-size: 50px;
  color: #663366;
  float: left;
  padding: 12px;
  margin: 20px; }

.read_more {
  color: #663366;
  font-size: 14px;
  float: right;
  margin-top: 15px; }

.welcome {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
  display: block;
  /* IE6, IE7 line height fix */
  padding: 15px;
  padding-left: 35%;
  background-color: transparent;
  margin-top: 0px;
  margin-right: 6px;
  text-decoration: none; }

.welcome span {
  color: #00CCFF; }

.notice {
  position: absolute;
  background: #00CCFF;
  opacity: 0.7;
  width: 100%;
  line-height: 1.5;
  vertical-align: middle;
  text-align: center;
  font: 13pt "Helvetica Neue" bold;
  color: white; }

.author {
  text-align: right !important;
  font-weight: bold;
  font-size: 10pt !important; }

.show-post {
  /* Nothing here */ }

.show-post h3 {
  text-align: center; }

.show-post p {
  font-size: 13pt;
  text-align: justify; }

.title {
  width: 400px !important; }

.link {
  font-size: 18px;
  line-height: 1.6;
  color: #b4ccce;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
  padding-top: 12px;
  margin-bottom: 9px;
  float: right !important; }

.link:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px black, 0 0 1em #663366;
  text-decoration: underline;
  border-radius: 8px; }

.align-c {
  text-align: center !important; }
