<h3 class="align-c">
    Listing posts
    <% if current_user %>
        <%= link_to 'New Post', new_post_path, :class => 'link' %>
    <% end %>
</h3>

    <% @posts.each do |post| %>
        <section class="group">
          <h3><%= post.title %></h3>
          <p><%= post.body %></p>
          <%= link_to post do %>
            <span class="read_more">Read more...</span>
          <% end %>

        </section>
    <% end %>

